html {
    font-family: Helvetica Neue, Helvetica, sans-serif;
}

#container {
    overflow: hidden;
}

#header {
    margin: auto;
    width: 400px;
    padding: 0 20px;
    border: 1px solid #ccc;
    background-color: #ccc;
}

#message {
    -webkit-transition: all 400ms linear;
    height: 200px;
    width: 400px;
    border: 1px solid #ccc;
    margin: auto;
    padding: 20px;
    position: relative;
    top: -300px;
}

#message .buttons {
    margin-top: 150px;

}

#message .buttons button {
    float: right;
}

.slideIn {
    -webkit-transform: translateY(300px);
}
